@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.container-e {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 0;
}

.background-image-e {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-image-e img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content-e {
  position: relative;
  z-index: 1;
  text-align: left;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-left: 10px;
}

.content-e h1 {
  font-size: 69px;
  font-weight: 500;
  margin-bottom: 0;
  font-family: Alegreya;
  font-style: italic;
  color: rgba(144, 0, 105, 1);
  gap: 0;
  
}

.content-e p {
  font-size: 25px;
  line-height: 30px;
  font-family: Alice;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.button {
  background-color: rgba(144, 0, 105, 1);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 22.23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile View CSS */
@media screen and (max-width: 768px) {
  .content-e {
     height: 100vh;
     width: 100vw;
     align-items: center;
     margin-top: 15px;
   }
 
  .content-e h1 {
     font-size: 39px;
     font-weight: 600;
   }
 
  .content-e p {
     font-size: 18px;
     font-weight: 500;
   }
 
  .background-image-e {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: rotate(90deg);
   }
 
  .background-image-e img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: rotate(90deg);
   }
 
  .content-e {
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     z-index: 1;
   } 
 }


/*navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 200px;
  height: 62.07px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input[type="search"] {
  padding: 10px;
  border: rgba(182, 182, 182, 1);
  border-radius: 5px;
  width: 500px;
  margin-left: 350px;
}

.search-bar button[type="submit"] {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(144, 0, 105, 1);
  padding: 10px 20px;
  border-radius: 1px;
  cursor: pointer;
  border: #900069;
  align-items: center;
}

.search-bar button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 1);
}

.right-side {
  display: flex;
  align-items: right;
}

.icons {
  display: flex;
  align-items: right;
  margin-left: 300px;
}

.icons i {
  font-size: 30px;
  color: rgba(144, 0, 105, 1);
  margin-right: 25px;
  align-items: right;
}

.icons i:last-child {
  margin-right: 0;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 0;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    width: 130px;
    height: 50px;
  }

  .search-bar {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-left: 50px;
  }

  .search-bar input[type="search"] {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }

  .search-bar button[type="submit"] {
    width: 100%;
    padding: 10px;
  }

  .right-side {
    flex-direction: row;
    align-items: right;
  }

  .icons {
    margin-left: 100px;
    flex-direction: row;
  }

  .icons i {
    font-size: 20px;
    margin-right: 10px;
  }
}

/* head footer */
.headfooter-container {
  position: relative;
  width: 100%;
  background-color: #B6B6B633;
  padding: 0 90px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headfooternav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  gap: 0;
  opacity: 1;
}

/* Media query for tablet view */
@media only screen and (max-width: 1024px) {
  .headfooter-container {
    padding: 0 40px;
  }
  .headfooternav {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .headfooter-container {
    padding: 0 20px;
    height: auto;
  }
  .headfooternav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .headfooternav li {
    margin-bottom: 10px;
  }
  .headfooternav li:last-child {
    margin-bottom: 0;
  }
}


/*do*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adds 20px gap between columns */
}

.col-md-4 {
  width: 31.33%; /* Adjusted width to accommodate gap */
  padding: 10px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hover-effect-zoom-out:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.card-img-top-2 {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  height: 62px;
}

.card-title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: Alegreya;
  text-align: center;
}

.btn {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  padding: 8.58px, 20.02px, 8.58px, 20.02px;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  background-color: #23527c;
}

.mt-5 {
  margin-top: 50px;
  font-family: Alegreya;
  font-weight: 500;
  font-size: 55px;
  line-height: 70px;
}

.mt-3 {
  margin-top: 30px;
}

.card-img-top-2-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-4 {
    width: 100%;
  }
  .card {
    margin-bottom: 20px;
  }

  .mt-5 {
    text-align: center;
  }
}

/*howitwork*/
.How-cont {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(255, 229, 237, 0.61);
  max-width: 1920px;
  margin: 0 auto; /* add this to center the container */
}

.How-cont h2 {
  font-family: Alegreya;
  font-size: 60px;
  font-weight: 500;
  color: rgba(184, 10, 137, 1);
  margin: left 0; 
  margin-bottom: 2rem;
  text-align: center; 
}

.gift-wrap-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
  max-width: 1100px;
}

.gift-wrap-option {
  flex: 0 0 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.gift-wrap-option:hover {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gift-wrap-image {
  width: 100%;
  height: 181.79px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.gift-wrap-text {
  padding: 20px;
}

.gift-wrap-text h2 {
  margin-top: 0;
  font-size: 32.95px;
  font-weight: 800;
  color: rgba(184, 10, 137, 1);
  margin-left: 0; /* remove the margin-left to make it responsive */
  text-align: center; /* add this to center the title text */
}

.gift-wrap-text p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20.45px;
  color: rgba(62, 62, 62, 1);
}

/* add media queries to make it responsive */
@media (max-width: 768px) {
  .gift-wrap-option {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .gift-wrap-option {
    flex: 0 0 100%;
  }
  .gift-wrap-image {
    height: 150px; /* adjust the image height for smaller screens */
  }
}

.left-border-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* adjust the width to your liking */
  height: 100%; /* make it full height */
  background-size: cover;
}

.left-border-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*giftgrap*/
.container-g {
  display: flex;
  flex-direction: column;
  width: 1595px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin-left: 5px;
  margin-bottom: 2rem;
  font-family: Alegreya;
  font-size: 60px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;
  
}

.item {
  text-align: left;
}

.item img {
  width: 460px;
  height: 500px;
}

.item p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  color: rgba(86, 86, 86, 1);
}

.item h2 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.shop-more {
  display: block;
  margin: 2rem auto;
  color: rgba(184, 10, 137, 1);
  
  border-radius: 5px;
  cursor: pointer;
  font-family: Alegreya;
  font-size: 30.17px;
}

/* Mobile view styles */

@media only screen and (max-width: 768px) {
  .container-g {
    width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    margin-bottom: 2rem;
  }

  .item img {
    width: 100%;
    height: 400px;
  }

  .item p {
    font-size: 18px;
  }

  .item h2 {
    font-size: 20px;
  }

  .shop-more {
    font-size: 20px;
    padding: 0.5rem 1rem;
  }
}

/* features container */
.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column size as needed */
  gap: 20px;
  padding: 20px;
  justify-items: center; /* Center items horizontally */
}

/* feature item */
.feature-item {
  text-align: center;
  padding: 20px; /* Add padding to each feature item */
}

.feature-item img {
  max-width: 100%;
  height: auto;
}

.feature-item h3 {
  margin: 10px 0;
}

/* Media query for tablet and larger screens */
@media only screen and (max-width: 1024px) {
  .features-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for smaller screens */
  }
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .features-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust for mobile screens */
    padding: 10px; /* Reduce padding for better spacing on smaller screens */
  }
  
  .feature-item {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* imagegrid */
.cont {
  display: flex;
  max-width: 100%; /* Use 100% width to make it responsive */
  max-height: 100%; /* Use 100% height to make it responsive */
  align-items: center;
  justify-content: center;
  padding: 10px; /* Add some padding for better presentation */
}

.image-grid-i {
  display: grid;
  grid-template-areas:
    "birthday flowers corporate"
    "weddings flowers anniversary";
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 100%; /* Ensure grid does not exceed container width */
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .image-grid-i {
    grid-template-areas:
      "birthday corporate"
      "flowers flowers"
      "weddings anniversary";
  }
}

@media only screen and (max-width: 768px) {
  .image-grid-i {
    grid-template-areas:
      "birthday"
      "flowers"
      "corporate"
      "weddings"
      "anniversary";
    grid-gap: 8px; /* Reduce gap for smaller screens */
    margin-left: 0; /* Center content for smaller screens */
  }

  .cont {
    flex-direction: column; /* Stack items vertically */
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

.image-grid-i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-i img:nth-child(1) {
  grid-area: birthday;
}

.image-grid-i img:nth-child(2) {
  grid-area: flowers;
}

.image-grid-i img:nth-child(3) {
  grid-area: corporate;
}

.image-grid-i img:nth-child(4) {
  grid-area: weddings;
}

.image-grid-i img:nth-child(5) {
  grid-area: anniversary;
}

/* Newsletter section */
.container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  min-height: 378px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-item {
  text-align: center;
  padding: 20px;
}

.header-item img {
  width: 115px;
  height: 111px;
  margin-bottom: 10px;
}

.header-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.header-item p {
  color: #666;
}

/* Gallery and newsletter section */
.container-ggg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 223, 142, 1);
}

.newsletter-sectiong {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Adjusted margin for spacing */
}

.left-side {
  width: 700px; /* Adjust width as needed */
  padding: 20px;
}

.left-side h2 {
  font-family: Alegreya;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  color: rgba(173, 90, 41, 1);
}

.right-side {
  width: 800px; /* Adjust width as needed */
  padding: 20px;
}

.right-side form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align form items to the end */
}

.right-side input[type="email"] {
  width: 100%; /* Take full width */
  max-width: 500px; /* Set maximum width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.right-side button {
  width: auto; /* Allow button to adjust its width */
  padding: 8px 16px; /* Adjust padding for better appearance */
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.right-side button[type="submit"]:hover {
  background-color: #3e8e41;
}

.vertical-separator {
  border-left: 3px solid rgba(173, 90, 41, 1);
  margin: 0px 20px;
}

.transparent-image {
  width: 129.05px;
  height: 229.28px;
  top: 103px;
  left: 95px;
}

.transparent-image2 {
  width: 310.11px;
  height: 150.76px;
  top: 81px;
  left: 749px;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .container {
    min-height: 250px; /* Reduced container height for smaller screens */
  }

  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
  }

  .header-item {
    padding: 7px;
    text-align: left;
  }

  .header-item img {
    width: 100px;
    height: 100px;
  }

  .header-item h3 {
    font-size: 18px;
  }

  .header-item p {
    font-size: 16px;
  }

  .container-ggg {
    flex-direction: column;
    padding: 10px;
  }

  .newsletter-sectiong {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  .left-side {
    width: 100%;
    padding: 10px;
    text-align: center; /* Center text for smaller screens */
  }

  .left-side h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .right-side {
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .right-side form {
    align-items: center;
  }

  .right-side input[type="email"] {
    width: 578px;
    height: 55px;
    max-width: 100%;
    top: 102px;
    left: 1139px;
  }

  .right-side button[type="submit"] {
    width: 138.86px;
    height: 51.86px;
    padding: 10px;
    margin-top: 10px;
    background-color: #AD5A29 !important; /* Ensure the background color is applied */
    color: #fff !important; /* Ensure the text color is applied */
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .right-side button[type="submit"]:hover {
    background-color: #873f1d; /* Darker background color on hover */
  }
  
  

  .vertical-separator {
    display: none;
  }

  .transparent-image {
    align-self: self-end;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 80px;
  }

  .transparent-image2 {
    width: 50%;
    max-width: 310.11px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 20px; /* Adjusted to position on the right side */
    transform: translate(0, -50%); /* Center vertically */
  }
  
}

/*horizontal gallery*/
.horizontal-gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  margin-bottom: 0;
}

.horizontal-gallery img {
  width: 250px; /* adjust the width as needed */
  height: 320px; /* adjust the height as needed */
  margin: 2px; /* add margin between images */
  border-radius: 10px; /* add a border radius if desired */
}

/* General Footer Styles */
.footer {
  color: rgba(19, 19, 19, 1);
  max-width: 1920px;
  max-height: 619px;
}

.footer .container {
  background-color: rgba(19, 19, 19, 1);
  max-width: 1920px;
  margin: 0 auto;
  max-height: 619px;
  color: rgba(19, 19, 19, 1);
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .col-md-4 {
  width: 33.33%;
}

.footer .logo {
  margin-bottom: 5px;
  margin-left: 100px;
}

.footer .logo img {
  width: 131px;
  height: 87.33px;
}

.footer p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: rgba(213, 213, 213, 1);
  margin-left: 100px;
}

.footer .social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  margin-top: 10px;
}

.footer .social-media li {
  margin-right: 10px;
}

.footer .social-media li a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer .social-media li a:hover {
  color: #f05089;
}

.footer .payment-methods {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
}

.footer .payment-methods li {
  margin-right: 10px;
  margin-top: 30px;
}

.footer .payment-methods li img {
  max-width: 46.18px;
  height: 29px;
}

.footer .footer-heading {
  color: rgba(255, 255, 255, 1);
  font-family: Alegreya;
  font-style: italic;
  font-size: 23px;
  margin-bottom: 20px;
  margin-left: 200px;
  text-decoration: underline;
}

.footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 200px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer .footer-links li a:hover {
  color: #f05089;
}

.footer .copyright {
  background-color: rgba(19, 19, 19, 1);
  border-top: 2px solid rgba(86, 86, 86, 1);
  margin-bottom: 0px;
  text-align: center;
}

.footer .copyright p {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  align-items: center;
  margin-left: 525px;
}

/* Mobile View Styles */
@media (max-width: 768px) {
  .footer .row {
    flex-direction: column;
  }

  .footer .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer .logo {
    margin-left: 20px;
  }

  .footer .logo img {
    width: 80px;
    height: 53.33px;
  }

  .footer p {
    font-size: 16px;
    margin-left: 20px;
  }

  .footer .social-media {
    margin-left: 20px;
  }

  .footer .payment-methods {
    margin-left: 20px;
  }

  .footer .footer-heading {
    margin-left: 20px;
  }

  .footer .footer-links {
    margin-left: 20px;
  }

  .footer .copyright p {
    margin-left: 20px;
  }

  .footer .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}
